// global variables 
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;
$xl-screen: 1201px;

$primary-font: 'Roboto Condensed', sans-serif;
$secondary-font: 'Bebas Neue', sans-serif;

$cream: #ebe9dd;
$green: #a9a794;
$light-red: #9e4853;
$purple: #443b46;
$red: #a02b48;
$white: #fff;
$black: #000;


